.contact-container{
    display: flex;
    width: 100%;
    padding: 75px 35px;
}
.form-section{
    width: 63%;
}
.form-section h1,p{
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.form-section input{
    width: 30%;
    height: 40px;
    margin: 10px;
    border: 1px solid rgb(173, 173, 173);
    font-size: 17px;
    padding: 0 10px;
    transition: 0.5s;
}
.form-section textarea{
    margin: 10px;
    border: 1px solid rgb(173, 173, 173);
    width: 95%;
    transition: 0.5s;
    
}
.form-section textarea:focus, input:focus{
    outline: 1px solid #3577f0;
}
.form-section button{
    padding: 20px 40px;
    font-size: 17px;
    margin: 10px;
    background: #3577f0;
    border: none;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all ease-in;
    transition-duration: 0.3s;
}
.stor-section .career h1{
    color: #000;
}
.form-section button:hover{
    transform: scale(1.1);
}
.stor-section{
    width: 32%;
}
.stor-section h1{
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.stor-section p{
    margin: 20px 0;
}
.stor-section .career, .openingHours p{
    color: #777;
}

.map-container{
    padding: 75px 35px;
}
@media only screen and (max-width: 600px){
    .contact-container{
        display: block;
        padding: 36px 15px;
    }
    .map-container{
        padding: 36px 15px;
    }
    .form-section{
        width: 100%;
    }
    .form-section input{
        width: 95%;
    }
    .stor-section {
    width: 100%;
    margin: 10px;
    }
}