.about-container {
    height: auto;
    display: flex;
    margin: 0 25px;
}
.about-card .Acard-header img {
    margin: 0 10px;
}
.about-card {
    padding: 65px 0px;
    cursor: pointer;
    margin: 0 10px;
    width: 30%;
    border-radius: 20px;
    background: white;
    transition: 0.8s;
}
.about-card:hover {
    outline: 1px solid #3577f0;

}
.Acard-text h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    margin: 10px;
}

.Acard-text p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #777;
    margin-top: 10px;
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    .about-card {
        width: 100%;
        margin: 20px 0;
        padding: 0;
    }

    .about-container {
        display: block;
        height: auto;
        margin: 0px 10px;
    }
    .Acard-text h1{
        font-size: 20px;
    }
}