.nav-container{
    background: #f9f3f0;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav{
    background: white;
    width: 90%;
    height: 80px;
    display: flex;
    border-radius: 20px;
    box-shadow: -2px 4px 9px 7px rgb(0 0 0 / 10%);
    margin: auto;
    align-items: center;
    padding: 0 15px;
    /* position: sticky;
    right: 65px;
    top: 80px; */
}
.nav-link a {
    color: black;
    text-decoration: none;
    font-size: 21px;
    font-weight: 500;
    margin: auto;
    margin: 0 13px;
}
.nav-link {
    width: 70%;
}
.logo {
    width: 20%;
}
.icons {
    width: 20%;
    font-size: 28px;
}
.icons svg{
    margin: 0 5px;
}

.nav-container .hamburger{
    display: none;
}


@media only screen and (max-width: 640px){
.nav-link{
    display: none;
}
.nav-container .hamburger{
    display: block;
}
.icons{
    display: none;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    padding: 0 15px;
}
}